{
  "presets": [
    "env",
    "es2015",
    "es2016",
    "es2017"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@user": "./src/services/user",
          "@party": "./src/services/party",
          "@question": "./src/services/question",
          "@answer": "./src/services/answer",
          "@comment": "./src/services/comment",
          "$routes": "./src/routes",
          "$util": "./src/util",
          "lib": "./lib",
          "_middlewares": "./src/middlewares",
          "_models": "./src/models"
        }
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}